<table id="table1">
  <tr>
    <th>Id:</th>
    <td>{{medicalStaff.identityNumber}}</td>
  </tr>
  
  <tr>
    <th>Name:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.name"/></td>
  </tr>

  <tr>
    <th>Surname:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.surname"/></td>
  </tr>
  
  <tr>
    <th>Email:</th>
    <td>{{medicalStaff.email}}</td>
  </tr>

  <tr>
    <th>Password:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.password"/></td>
  </tr>

  <tr>
    <th>PhoneNumber:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.phoneNum"/></td>
  </tr>

  <tr>
    <th>Street:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.address.street"/></td>
  </tr>

  <tr>
    <th>Number:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.address.number"/></td>
  </tr>

  <tr>
    <th>State:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.address.state"/></td>
  </tr>

  <tr>
    <th>City:</th>
    <td><input type="text" [(ngModel)]="medicalStaff.address.city"/></td>
  </tr>

  <tr>
    <th>Save</th>
    <td><button type="submit" (click)="save()">Save</button></td>
  </tr>
</table>
  