<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidebarmenu.toggle()">menu</mat-icon>
      </button>
      <h2>Welcome</h2>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidebarmenu>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/system-admin/change/saPassword'"> Change password </a>
        <a mat-list-item [routerLink]="'/system-admin/create/center'"> Register center </a>
        <a mat-list-item [routerLink]="'/system-admin/register/systemAdministrator'"> Register system administrator </a>
        <a mat-list-item [routerLink]="'/system-admin/registeredUsers'"> Users </a>
        <a mat-list-item [routerLink]="'/system-admin/home'"> Centers </a>
        <a mat-list-item  href="#" mat-list-item>
          Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 92vh">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

