<table id="table1">
    <tr>
      <th>Id:</th>
      <td>{{medicalStaff.identityNumber}}</td>
    </tr>
    
    <tr>
      <th>Name:</th>
      <td>{{medicalStaff.name}}</td>
    </tr>
  
    <tr>
      <th>Surname:</th>
      <td>{{medicalStaff.surname}}</td>
    </tr>
    
    <tr>
      <th>Email:</th>
      <td>{{medicalStaff.email}}</td>
    </tr>
  
    <tr>
      <th>Password:</th>
      <td>{{medicalStaff.password}}</td>
    </tr>
  
    <tr>
      <th>PhoneNumber:</th>
      <td>{{medicalStaff.phoneNum}}</td>
    </tr>
    
    <tr>
      <th>Street:</th>
      <td>{{medicalStaff.address.street}}</td>
    </tr>
  
    <tr>
      <th>Number:</th>
      <td>{{medicalStaff.address.number}}</td>
    </tr>
    
    <tr>
      <th>State:</th>
      <td>{{medicalStaff.address.state}}</td>
    </tr>
  
    <tr>
      <th>City:</th>
      <td>{{medicalStaff.address.city}}</td>
    </tr>
  
    <tr>
      <th>Edit</th>
      <td><button type="submit" (click)="ChangePage()">Edit</button></td>
    </tr>
  </table>
    
    
  
