<body>
    <form class="container">
      <h1 style="color: white;">Change password :</h1>
       
        <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Password" type="password" [formControl]="requiredPasswordControl"
                   [errorStateMatcher]="matcher" [(ngModel)]="password">
            <mat-error *ngIf="requiredPasswordControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>
    
          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Confirm password" type="password" [formControl]="requiredConfirmationPasswordControl"
                   [errorStateMatcher]="matcher" [(ngModel)]="confirmationPass">
            <mat-error *ngIf="requiredConfirmationPasswordControl.hasError('required')">
                Confirmation password is <strong>required</strong>
            </mat-error>
          </mat-form-field><br>
     
          <button mat-stroked-button (click)="changePassword()"> 
            Change password
        </button>
    </form> 
    </body>


