<table id="table1">
    <tr>
      <td>New password:</td>
      <td><input type="text" id="input1" [(ngModel)]="password" [formControl]="requiredConfirmationPasswordControl"></td>
    </tr>
  
    <tr>
        <td>Confirm:</td>
        <td><input type="text" id="input2" [(ngModel)]="confirmationPass" [formControl]="requiredPasswordControl"></td>
    </tr>

    <tr>
        <td>Back</td>
        <td><button mat-raised-button type="submit" (click)="GoBack()">Back</button></td>
    </tr>

    <tr>
        <td>Save</td>
        <td><button mat-raised-button type="submit" (click)="UpdatePassword()">Save</button></td>
    </tr>
  </table>
    