<!DOCTYPE html>
<html>
<body style="background-color:gray;">
<div class="container">
    <div>
        <mat-form-field id="mat1">
            <mat-label>Start Date:</mat-label>
            <input [(ngModel)]="freeAppointment.date" matInput [matDatepicker]="picker" [min]="startDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker id="picker" #picker></mat-datepicker>
        </mat-form-field>
    </div>
        
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Hour</mat-label>
            <mat-select [(ngModel)]="hour">
                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                  {{hour.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Minute</mat-label>
            <mat-select [(ngModel)]="minute">
                <mat-option *ngFor="let minute of minutes" [value]="minute.value">
                  {{minute.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button mat-stroked-button id="button1"  (click)="GetAvailableCenters()">
        Submit
    </button>
</div>
<br>
<button id="sortButton" class="gradeBtn" (click)="sortByAvgGradeAsc()">&#8593;</button> <button (click)="sortByAvgGradeDesc()">&#8595;</button>
    <table id="table1">
       <tr>
            <th>Name:</th>
            <th>Place:</th>
            <th>Average grade:</th>
       </tr>

       <tr *ngFor="let center of centers">
            <td>{{center.name}}</td>
            <td>{{center.address.street }} {{ center.address.number }} <br/> {{ center.address.city }}, {{ center.address.state }} </td>
            <td>{{center.avgGrade}}</td>
            <td><button mat-stroked-button id="button2" (click)="specificSchedule(center)">
                Schedule
            </button></td>
       </tr>
    </table>


</body>
</html>

