div {
  margin-left: 20%;
  margin-right: auto;
  width: 40%;
  margin: auto;
}

#button1 {
  margin-left: 29%;
  
}

#sortButton { 
  margin-left: 77%;
}

#button2 {
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

#table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: 20%;
  margin-right: auto;
  position: absolute;
}

#table1 td {
  border: 1px solid black;
  padding: 8px;
}

#table1 th {
  border: 2px solid black ;
  padding: 8px;
  background: gray;
}

#table1 tr {
  border: 2px solid black;
  padding: 8px;
}

td 
{ 
text-align: center;
}
