<!DOCTYPE html>
<html>
<body style="background-color:gray;">
   <h1>
    Schedule appointment
</h1>
<div class="container">
    <div>
        <mat-form-field id="mat1">
            <mat-label>Start Date:</mat-label>
            <input matInput [matDatepicker]="picker" [min]="startDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker id="picker" #picker></mat-datepicker>
        </mat-form-field>
    </div>
        
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Hour</mat-label>
            <mat-select [(ngModel)]="hour">
                <mat-option *ngFor="let hour of hours" [value]="hour.value">
                  {{hour.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Minute</mat-label>
            <mat-select [(ngModel)]="minute">
                <mat-option *ngFor="let minute of minutes" [value]="minute.value">
                  {{minute.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button mat-stroked-button>
        Submit
    </button>
</div>
<br>
<div>
    <table id="table1">
       <tr>
            <th>Name:</th>
            <th>Place:</th>
            <th>Average grade:</th>
       </tr>

       <tr>
        <td></td>
        <td></td>
        <td></td>
       </tr>
        

    </table>
</div>


</body>
</html>
