<h2>Profile</h2>

<table id="table1">
  <tr>
    <th>Name:</th>
    <td>{{user.name}}</td>
  </tr>

  <tr>
    <th>Surname:</th>
    <td>{{user.surname}}</td>
  </tr>
  
  <tr>
    <th>Email:</th>
    <td>{{user.email}}</td>
  </tr>

  <tr>
    <th>Password</th>
    <td>{{user.password}}</td>
  </tr>

  <tr>
    <th>PhoneNumber</th>
    <td>{{user.phoneNum}}</td>
  </tr>

  <tr>
    <th>Points</th>
    <td>{{user.points}}</td>
  </tr>

  <tr>
    <th>Edit</th>
    <td><button type="submit">Edit</button></td>
  </tr>
</table>
  
  

